<div class="container">

  <div class="banner">
    <div id="slider" class="banner-gardiant-shadow">
      <figure>
        <%= image_tag "femme_epaule.jpg" %>
        <%= image_tag "dos.jpg" %>
        <%= image_tag "nuque.jpg" %>
        <%= image_tag "pied.jpg" %>
        <%= image_tag "femme_epaule.jpg" %>
      </figure>
    </div>
    <div class="banner-content">
      <h1>Antoine de Vesvrotte</h1>
      <p>Osteopathe ... et tellement plus !</p>
      <a href="https://www.doctolib.fr/osteopathe/sathonay-camp/antoine-de-vesvrotte" class="btn btn-primary btn-lg">Découvrez le</a>

      <div class="banner-links-row">
        <a href="#doctor" class="btn btn-default">Antoine</a>
        <a href="#practical" class="btn btn-default">Pratique</a>
        <a href="#osteopathy" class="btn btn-default">L'osteopathie</a>
        <a href="#when_to_consult" class="btn btn-default">Quand consulter</a>
      </div>

      <a href="#" class="btn btn-primary btn-lg">Sur mon blog</a>

      <div class="banner-links-row">
        <a href="#pregnant_woman" class="btn btn-default">Pour femme enceinte</a>
        <a href="#for_baby" class="btn btn-default">Pour un bébé</a>
        <a href="#child" class="btn btn-default">Pour un jeune</a>
        <a href="#athletic" class="btn btn-default">Pour un sportif</a>
        <a href="#old_person" class="btn btn-default">Pour une personne agée</a>
      </div>
    </div>
  </div>


    <div class="category" id="doctor">
      <div class="category-title">
        <p>Antoine, osteopathe</p>
      </div>
      <div class="category-row">
          <div class="category-left-block">
            <img class="profile-picture" src="https://res.cloudinary.com/doctolib/image/upload/w_1024,h_700,c_limit/nuuluq2v70xfnizvqpq7.jpg">
          </div>
          <div class="category-middle-block">
            <p>J'aime bien ce métier. Diplomé depuis 5 ans de l'école d'osteopathie de Lyon, j'ai installé mon cabinet à Sathonay camp, où je prends le temps de vous accueillir, vous écouter, vous traiter, vous faire comprendre votre corps ...</p>
          </div>
          <div class="category-right-block">
            <ul>
              <li>Me contacter :</li>
              <li>tel : </li>
              <li>@ : </li>
              <li>Doctolib : </li>
            </ul>
          </div>
      </div>
    </div>



    <div class="category" id="practical">
      <p>Aspect pratique</p>
    </div>
    <div class="category" id="osteopathy">
      <p>L'osteopathie en quelques mots</p>
    </div>
    <div class="category" id="when_to_consult">
      <p>Quand consulter</p>
    </div>
    <div class="category" id="pregnant_woman">
      <p>La femme enceinte</p>
    </div>
    <div class="category" id="child">
      <p>Le jeune</p>
    </div>
    <div class="category" id="athletic">
      <p>le sportif</p>
    </div>
    <div class="category" id="old_person">
      <p>La personne agée</p>
    </div>


</div>


<!-- #  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');" -->
